.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

/pet-clinic-data/.gradle
/pet-clinic-data/build/
/pet-clinic-data/out/
/pet-clinic-data/bin/

/pet-clinic-web/.gradle
/pet-clinic-web/build/
/pet-clinic-web/out/
/pet-clinic-web/bin/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VSCode
.vscode